* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(0, 255, 191), rgb(136, 255, 0), rgb(204, 0, 255));
}

.heading{
    text-align: center;
    font-size: 5rem;
    font-family: 'Poppins';
    padding: 3rem;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%, 0);
    background-image: linear-gradient(to right, rgb(17, 150, 0), blue);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.container{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgb(204, 0, 255), rgb(136, 255, 0), rgb(0, 255, 191));
    border-radius: 5rem;
    height: 50vh;

    .interact{
        width: 40%;
        padding-top: 10rem;
        padding-left: 5rem;

        .new-note{
            border-radius: 10px;
            height: 13rem;
            width: 50%;
            padding: 1rem;
            font-size: 2rem;
        }

        .button-container{
            position: relative;
            .popover{
                height: 3rem;
                width: 13rem;
                display: none;
                position: absolute;
                top: -8px;
                left: 3rem;
                border-radius: 20px;
                font-size: 2rem;
                text-align: center;
                padding-top: .4rem;
                font-family: Georgia, 'Times New Roman', Times, serif;
                background-color: rgb(0, 255, 115);
                font-weight: bold;
                color: rgb(4, 0, 255);
            }
            .add-note{
                display: block;
                height: 10rem;
                width: 10rem;
                clip-path: circle(20% at 50% 48.8%);
                margin-left: -2.5rem;
                margin-top: 2rem;
                background-image: linear-gradient(to right, rgb(255, 196, 0), rgba(53, 134, 172, 0.836));
                cursor: pointer;
                .plus-sign{
                    color: rgb(3, 143, 57);
                }
            }
            &:hover{
                filter: drop-shadow(0px 2px 1px grey);
            }
        }
    }
    
}

.notes{
    width: 40%;
}